@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*,*::before,*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.5rem;
    font-family: 'Open Sans',sans-serif;
    min-height: 100vh;
    background-color: #f4f4f4;
   
}

.main-header {
   background-color: #fff;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
   
}

.logIn {
    border-radius: 10px 15px;
    padding: 8px;
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
    background-color: none;
}

.main {
    margin: 20px auto;
    text-align: center;
}

.add {
    border-radius: 10px 15px;
    padding: 8px;
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
    background-color: none;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 33%;
    top: 50%;
    width: 300px;
    height: 300px;
    background-color: #fff;
    transform: translate(50%,50%) scale(1);
    border-radius: 1rem;
    padding: 1rem;
    visibility: hidden;
  
}


.add-book-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-section {
    margin-bottom: 1rem;
    width: 100%;
  
}

.add-book-form input {
    width: 60%;
    padding: .5rem;
    border-radius: 5px;
}

.submit-button {
    width: 60%;
    padding: 10px; 
    border-radius: 5px;
    background-color: #9fff9c;
}

.form-title {
    margin-bottom: 1rem;
}